footer {
  background-color: #a37800;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
footer p {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 700;
}
footer p span {
  font-weight: bold;
}