section.products {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5px;
  min-height: calc(100vh - 625px);
}
section.products .product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 452px;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
section.products .product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
@media (max-width: 660px) {
  section.products .product-card {
    width: 100%;
    height: auto;
    margin: 0 50px;
  }
}
section.products .product-card .product-img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 660px) {
  section.products .product-card .product-img {
    width: 100%;
    height: 200px;
  }
}
section.products .product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.products .product-card .product-img .allergens {
  width: auto;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}
section.products .product-card .product-img .allergens img {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  border-radius: 25px;
}
section.products .product-card .product-img .allergens #gluten-free {
  display: none;
}
section.products .product-card .product-img .allergens #lactose-free {
  display: none;
}
section.products .product-card .dish-name {
  font-weight: 500;
  padding-bottom: 3px;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.products .product-card .dish-ingredients {
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.products .product-card .dish-price {
  font-weight: bold;
}
section.products .product-card.expanded {
  height: auto;
}
section.products .product-card.expanded .dish-name {
  height: auto;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  text-overflow: ellipsis;
}
section.products .product-card.expanded .dish-ingredients {
  height: auto;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  text-overflow: ellipsis;
}